.sign-in-page{
    background-color: #ece8ff;
    height: 100vh;
}

.login-main{
    border-radius: 10px;
    background: #ece8ff;
box-shadow: inset -15px -15px 30px #c9c5d9, 
            inset 15px 15px 30px #ffffff;
}

#password,#email{
    border-radius:50px;
    background: #ece8ff;
    box-shadow:  10px 10px 20px #a5a2b3, 
                -10px -10px 20px #ffffff;
    padding-left: 50px;
    border-bottom: 2px solid #ece8ff;
}

.emailerror,.pwderror{
    margin-top:10px;
    padding-left: 50px;
    color:#f44336;
    font-weight: bold;
    letter-spacing: 1px;
}

.i{
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    top:0;
    /* background-color: red; */
    width: 55px;
    height: 45px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#password:focus,#email:focus{
    box-shadow: inset 5px 5px 10px #a5a2b3, 
            inset -5px -5px 10px #ffffff,
            10px 10px 20px #a5a2b3, 
            -10px -10px 20px #ffffff;
}

.lbtn{
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    background: #55b9f3;
    box-shadow: 5px 5px 15px #489dcf, 
                -5px -5px 15px #62d5ff; 

}

.lbtn:hover{
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 40px;
    background: #55b9f3;
    box-shadow: inset 15px 15px 30px #489dcf, 
            inset -15px -15px 30px #62d5ff;

}

table{
    background: rgb(255, 255, 255);
}

tr{
    border-radius: 20px;
    text-align: center;
}

/* table tr {
    background: #ece8ff;
    box-shadow:  10px 10px 20px #a5a2b3, 
                -10px -10px 20px #ffffff;
} */
table tr:hover{
    /* transform: scale(1.01); */
    cursor: pointer;
    background-color: #e4e4e4;
}

.btn-success{
    width:85px;
}

.btechspan{
    position: relative;
    /* background-color: red; */
}

.btechspan:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top:calc(50% - 5px);
    left:calc(0% - 20px);
    background-color: lightseagreen;
}

.mtechspan{
    position: relative;
}

.mtechspan:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top:calc(50% - 5px);
    left:calc(0% - 20px);
    background-color: lightcoral;
}


#dragitemscontainer,#mainpapercontainer{
    height: 100vh;
    background-color: white;
    overflow:scroll;
}

#dragitemscontainer{
    border-right: 1px solid gray;
}

.cusiq-menu{
    list-style:none;
    font-size: 16px;
    margin-left: 0;
    margin-left: -30px;
    margin-top: 30px;
}

.cusiq-menu li span{
    font-weight: bold;
}

.cusiq-menu .li-title{
    width: 100%;
    background-color: #e5f2ff;
}

.cosiq-submenu{
    list-style:none;
    margin-left: -20px;
    font-size: 15px;
}

.cosiq-submenu li:hover{
    cursor: pointer;
}

.drag-Container-main,.drag-section-main{
    position: relative;
    width:100%;
    min-height:10%;
    background-color:white;
    margin-top: 20px;
    border:1px solid gray;
}

.drag-Container-main .title, .drag-section-main .title{
    position: absolute;
    border:1px solid gray;
    top:-30px;
    left:1%;
    background-color: white;
    padding:2px 20px;
    border-bottom: 0px;

}
.delete{
    color:red
}

.delete:hover{
    cursor: pointer;

}