.sticky{
    position: -webkit-sticky; 
    position: sticky; 
    top: 0;
}

.question-paper-main{
    border: 1px solid black;
    padding: 50px;
}

.title-box{
    /* background-color: brown; */
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid black;
    padding:20px;
}

.main{
    padding-top: 20px;
}